.highScore {
  text-align: left;
}

.timer {
  text-align: right;
}

.top {
  width: 100%;
  padding-top: 5px;
}

.header {
  text-align: center;
}

.questions {
  text-align: center;
}
.choiceBtn{
  display: block;
  margin: 5px;
}
#choices{
  display: none;
}

.result{
  color: lightgray;
}

#highScorePage{
  display:none;
}